<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>

</head>
<body>
<header>
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a th:href="@{/operation}">Operation</a></li>
            <li><a th:href="@{/comptes}">Comptes</a></li>
            <li><a th:href="@{/clientes}">Clients</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/login?logout}">logout</a></li>
        </ul>
    </div>
</nav>
</header>


<div>
    <div class="col-md-6" >
        <div class="panel panel-primary">
            <div class="panel-heading">Consultation d'un compte</div>
            <div class="panel-body">
                <form th:action="@{/consulterCompte}" method="get" >
                    <div>
                        <label>Code compte:  </label>
                        <input type="text" name="codeCompte" th:value="${codeCompte}"/>
                        <button class="btn btn-info" type="submit">Ok</button>
                    </div>
                </form>
            </div>
        </div>
        <div  class="alert alert-danger" th:if="${exeption}" >
            <strong th:text="${exeption.message}" class="text-center"></strong>
        </div>

        <div class="panel panel-primary" th:if="${compte}">
            <div class="panel-heading">Information sur le compte</div>
            <div class="panel-body">
                <div>
                    <label>Client: </label>
                    <label th:text="${compte.client.nom}"> </label>
                </div>
                <div>
                    <label>Code compte : </label>
                    <label th:text="${compte.codeCompte}"> </label>
                </div>
                <div>
                    <label>Solde : </label>
                    <label th:text="${compte.solde}"> </label>
                </div>
                <div>
                    <label>Date cretaion : </label>
                    <label th:text="${compte.dateCreation}"> </label>
                </div>
                <div>
                    <label>Type du compte : </label>
                    <label th:text="${compte.class.simpleName}"> </label>
                </div>
                <div th:if="${compte.class.simpleName=='CompteEpargne'}">
                    <label>Taux : </label>
                    <label th:text="${compte.taux}"> </label>
                </div>
                <div th:if="${compte.class.simpleName=='CompteCourant'}">
                    <label>Decouvert : </label>
                    <label th:text="${compte.decouvert}"> </label>
                </div>
            </div>

        </div>

    </div>
</div>



    <div class="col-md-6"  >
        <div class="panel panel-primary" th:if="${compte}" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="panel-heading">Operations sur le compte </div>
            <div class="panel-body">
                <form th:action="@{/saveOperation}" method="post">
                    <div>
                        <label> codeCompte :</label>
                        <label th:text="${codeCompte}"></label>
                        <input type="hidden"  name="codeCompte" th:value="${codeCompte}"/>
                    </div>
                    <div>
                        <input type="radio" name="typeOperation" value="vers"
                               onchange="document.getElementById('forVirement').style.visibility='hidden'" checked="checked"/>
                        <label>Versement</label>
                        <input type="radio" name="typeOperation" value="retr"
                               onchange="document.getElementById('forVirement').style.visibility='hidden'"/>
                        <label>Retrait</label>
                        <input type="radio" name="typeOperation" value="virm"
                               onchange="document.getElementById('forVirement').style.display='block'"/>
                        <label>Virement</label>
                    </div>
                    <div id="forVirement" style="display: none">
                        <label>Vers :</label>
                        <input type="text" name="codecompte2"/>
                    </div>
                    <div>
                        <label>Montant :</label>
                        <input type="text" name="montant"/>
                    </div>
                    <div  class="alert alert-danger cl-md-3" th:if="${#httpServletRequest.getParameter('error')}">
                        <strong th:text="${#httpServletRequest.getParameter('error')}" ></strong>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>



        <div class="panel panel-primary" th:if="${compte}">
            <div class="panel-heading">Liste des operations</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                         <tr>
                             <th>Num</th> <th>Type</th> <th>Date</th> <th>Montant</th>
                         </tr>
                    </thead>
                    <tbody>
                        <tr th:each="o:${listeOperation}">
                             <td th:text="${o.numero}"></td>
                            <td th:text="${o.class.simpleName}"></td>
                            <td th:text="${o.dateOperation}"></td>
                            <td th:text="${o.montant}"></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <ul class="nav nav-pills">
                        <li th:each="p,status:${pages}">
                            <a th:href="@{/consulterCompte(codeCompte=${codeCompte},page=${status.index})}" th:text="${status.index}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>






<footer>
    <div class="navbar-fixed-bottom">
        <small> l'adresse de ma banque est une adresse bla bla bla</small>
    </div>
</footer>

</body>
</html>